body {
  background-color: #dbd0d4;
  background: radial-gradient(white, #b38896);
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;}


header {
  width: 75vw;
  margin: 25px auto;
/****background-color: blue;*****/
}

main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
/****background-color: yellow;*****/
}


.col {
  width: 50%;
  float: left;
  /****background-color: red;*****/
}



h1 {
  font-size: 3em;
  text-align: center;
  color: #8a5a6a;}




h2 {
  color: #421d2a;}



#list {
  color: white;}



a{
    color: #421d2a;}


a:hover {
  color: white;
  background-color: #633746;}
