body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  background: Lightgrey;
}


.black {
  background-color: black;
  width: 100px;
  height: 100px;
  float: left;
}


.red {
  background-color: red;
  width: 100px;
  height: 100px;
  float: left;
}



.board {
  width: 800px;
  display: flow-root;
}



header {
  width: 75vw;
  margin: 25px auto;
  background-color: peachpuff;
  text-align: center;
}

main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
  /*background-color: yellow;*/
}

footer {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
  background-color: tomato;
  text-align: center;
}


.col {
  width: 29%;
  background-color: lightsalmon;
  float: left;
  margin: 10px;
  padding: 10px;
}



.belowheaderspace {
  background-color: palevioletred;
  text-align: center;
}
