body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  background: coral;
}


.black {
  background-color: black;
  width: 100px;
  height: 100px;
  float: left;
}


.red {
  background-color: red;
  width: 100px;
  height: 100px;
  float: left;
}



.board {
  width: 800px;
  display: flow-root;
}



header {
  width: 75vw;
  margin: 25px auto;
  background-color: white;
}

main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
  /*background-color: yellow;*/
}

footer {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
  background-color: tomato;
}


.col {
  width: 30%;
  background-color: lightsalmon;
  float: left;
  border: 5px solid white;
}
