.aSquare {
  width: 100px;
  height: 100px;
  background-color: magenta;
  border: 10px solid black;
  margin: -15px;
  opacity:.75;
  float: left;
  border-radius: 50%
}


.bSquare {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 10px solid black;
  margin: -15px;
  opacity:.75;
  float: left;
}

.cSquare {
  width: 100px;
  height: 100px;
  background-color: cyan;
  border: 10px solid black;
  margin: -15px;
  opacity:.75;
  float: left;
}
