body {
  background-image: linear-gradient(to right, #9ba9bd , white);
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}


h1 {
  text-shadow: 2px 2px 5px grey;
  text-transform: uppercase;
  font-size: 4em;
}


h2 {
  text-decoration: underline;
}


p {
  font-size: .7em;
}


#intro {
  color: #1b59ab;
  font-style: italic;
  font-size: 1.2em;
}

#list {
  color: #2569c2;

}


.mainsubheading {
  color: #013a85;
}



.contrastsubheading {
  color: #2569c2;
}
